<section>
  <div class='row-fluid'>
	<div class='span12'>
  		<%= render_collection_header %> 
	</div>
  </div>
  <div class='row-fluid row-fluid-body'>
	<div class='span9'>
  	  	<%= render_collection %>
	</div>
	<div class='span3'>
		<%= render_parent_categories(:title => "Catégories") %>
	    <%= render_parent_stickers %> 
	</div>
  </div>
</section>