/*-----------------------------------------
 HOME
----------------------------------------- */ 
#home {

}
#recent-twits-container {
	padding: $baseLineHeight 0;
  background-color: #fafafa;

  .carousel {
    margin-top: $baseLineHeight;
    margin-bottom: 0;
    p {
       line-height: $baseLineHeight * 1.25;
       width: 80%;
       text-align: center;
       @include center-block;
       font-style: italic;
       font-size: $baseFontSize * 1.75;
     }
  }

  .carousel-nav > li {
    float: left;
  }
  .carousel-control {
    position: relative;
    top: auto;
    left: auto;
    right: 24px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    font-size: 24px;
    line-height: 15px;
    text-align: center;
    border: none;
    @include border-radius(0); 
  }
  .carousel-control.right {
    right: 0;
  }
} 
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
  h3, h4 {
  color: #585f69;
  margin: 0 0 -2px 0;
  padding-right: 10px;
  display: inline-block;
  text-shadow: 0 0 1px #f6f6f6;
  border-bottom: 2px solid $themeColor;
  }
  a {
    line-height: 54px;
  }
} 


#recent-twits-container {
  padding: $baseLineHeight * 2 0; 
  h3 {
    float: left;
  }

}
#about-outercontainer,
#works-and-posts-outercontainer { 
  border-top: 1px solid #eee; 
  padding: $baseLineHeight * 2 0;
} 
#recent-works, #recent-posts { 

  .title {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    
  } 
 
  a > img {
    @include box-sizing(border-box);
    @include box-shadow(1px 1px 2px 2px rgba(0, 0, 0, 0.1)); 
    @include transition(opacity .5s linear);
    border: 6px solid $white; 
    &:hover {
      @include opacity(80);
    }
	}
}
