@import "variable";
@import "twitter/awesome-bootstrap";
@import "gko/public/base";
@import "flexslider/flexslider";

a:focus,
.btn:focus {
  outline: 0;
}

#wrapper-wide-body {
	max-width: 980px;
	@include box-sizing(border-box);
	@include center-block();
}

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */

@import "twitter/bootstrap/responsive";
@import "gko/default_responsive";