$themeColor: #2773ae;
$themeGrayLight: #f3f3f3;
$themeGrayMedium: #dddddd; 
$themeGrayDark: #333;

@mixin flat-button() {
  background: #0069b4 repeat scroll 0 0;
  border: none;
  font-weight: 800;
  @include border-radius(2px);
  @include box-shadow(none);
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover { 
    background: lighten(#0069b4, 10%) repeat scroll 0 0;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
  }
}
 
@import "variable";
@import "twitter.bootstrap.2.3.1/bootstrap";   
@import "gko/public/base";
@import "flexslider/flexslider";
@import "header";
@import "footer";
@import "home";
@import "grid"; 
@import "blog";
@import "portfolio";


h1 { font-size: $baseFontSize * 2.25; } // ~38px
h2 { font-size: $baseFontSize * 2; } // ~32px
h3 { font-size: $baseFontSize * 1.75; } // ~24px
h4 { font-size: $baseFontSize * 1.25; } // ~18px
h5 { font-size: $baseFontSize; }
h6 { font-size: $baseFontSize * 0.85; } // ~12px

html {
	height: 100%;
}
body {
  background: #f6f6f6; 
} 
#wrapper-wide-body {
	max-width: 980px;
	@include center-block;
	background-color: #f6f6f6;
}
.outercontainer-header {
  background-color: $themeGrayLight; 
  border-bottom: 1px solid $themeGrayMedium;
  border-top: 1px solid $themeGrayMedium;
  padding: 20px 0 20px 0;
  margin-bottom: $baseLineHeight;
}
.page-title {
  margin: 0;
  
}
.sidebar {
  padding: $baseLineHeight;
  background-color: $white; 
  border: 1px solid $themeGrayMedium; 
  @include border-radius(10px);
  h3, h4 {
    color: $themeGrayDark; 
    text-transform : uppercase;
    font-size: 12px;
    margin: 0;
  }
}
 /* RESPONSIVE CSS
    -------------------------------------------------- */
@import "twitter.bootstrap.2.0.4/bootstrap/responsive";  

//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 980px) { 
  body {
    background: $white image-url("px_by_Gre3g/px_by_Gre3g.png") top left repeat; 
    width: auto;
    height: auto;
    padding: 2.5% 0;
    margin: 0;
  }
  
  #wrapper-wide-body {
  	border: 1px solid $black;
    @include border-radius(10px);
  }

	.navbar {
  	margin-bottom: 0;
    
  	.nav-collapse {
  	  clear: both;

  	  .nav { 
  	    @include center-nav(); 
  	    margin-top: $baseLineHeight / 2;
  	    border-top: 1px solid $themeGrayLight; 
    	  border-bottom: 1px solid $themeGrayLight;
    	  padding-top: $baseLineHeight / 8; 
    	  padding-bottom: $baseLineHeight / 8;

    	}
  	}
  }
} 


@media (max-width: 979px) { 
  
  .navbar {
  	.brand {
      margin-bottom: $baseLineHeight / 2;
    }
  }
    
}
@media (max-width: 767px) { 
  
  // Padding to set content in a bit
  body {
    padding-left: 0;
    padding-right: 0;
  }
  
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
    
}
// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

}